/* En este archivo escriban su CSS */
:root {
    --blanco: #fbfbfb;
    --oscuro: #0f0f0f;
    --primario: rgba(59, 152, 245, 0.377);
    --secundario: #296ed4;

    --fuentePrincipal: 'Lato', sans-serif;

}

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*Globales*/
body {
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    line-height: 1.2;
    color: var(--oscuro);
}
a {
    font-family: var(--fuentePrincipal);
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
.contenedor {
    max-width: 120rem;
    margin: auto;
}
h1,h2,h3 {
    text-align: center;
    color: var(--oscuro);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 2.4rem;
}
/* Utilidades */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
/* hearder */
.header {
    background-color: var(--blanco);
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 15px var(--oscuro);
}

/*navegacion*/
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* .logotipo {
    height: 25rem;
    width: 25rem;
    background-size: cover;
} */

.logo {
    color: var(--oscuro);
}
.logo__nombre {
    font-weight: normal;
}
.logo__bold {
    font-weight: bold;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
        justify-content: space-between;

    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--oscuro);
}
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* contenido principal Grid*/
.biografia {
    margin-top: 20rem;
}
@media (min-width: 768px) {
    .biografia {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        padding-top: 10rem;
    }
}
.selfie-selfie {
    border-radius: 80%;
    width: 40rem;
    height: 40rem;
    align-items: center;
}
.informacion-bio {
    text-align: center;
    margin-bottom: 3rem;
}
.boton {
    background-color: var(--secundario);
    padding: 1.5rem;
    border-radius: 4rem;
    color: var(--blanco);
    font-weight: bold;
    font-size: 2rem;
}
.boton:hover {
    color: var(--oscuro);
}

/* seccion contacto */
.contacto {
    display: block;
    justify-content: center;
    align-items: center;
}
.entrada-sombra {
    background-color: var(--primario);
    border-radius: 2rem;
    margin-bottom: 5rem;
    padding: 1rem;
}
.entrada__titulo {
    font-size: 3.2rem;
}
.entrada__info {
margin: 2rem;
}


.contacto__icon {
    

}


.contacto-icons {
    display: flex;
    gap: 1rem;
    max-width: 30rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .contacto-icons {
        justify-content: space-between;
        gap: 5rem;
        max-width: 60rem;
    }
}
.contacto-icon {

}




/* Pag proyectos */

.titulo {
    padding-top: 20rem;

}
@media (min-width: 390px) {
    .titulo {
        padding-top: 12rem;

    }
}

/* footer */
.footer {
background-color: var(--secundario);
text-align: center;
}
.footer p {
    color: var(--blanco);
    font-weight: bold;
    padding: 4rem;
    margin: 0;
}



 /* Recomendaciones!
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo! */